[phases.setup]
nixPkgs = [
    "php83",
    "php83Extensions.intl",
    "php83Extensions.gd",
    "php83Extensions.bcmath",
    "php83Extensions.opcache"
]

[phases.install]
dependsOn = ["setup"]
cmds = ["composer install --optimize-autoloader --no-interaction"]