[phases.setup]
nixPkgs = [
    "php84",
    "php84Extensions.intl",
    "php84Extensions.gd",
    "php84Extensions.pdo_mysql",
    "php84Extensions.bcmath",
    "php84Extensions.zip",
    "nodejs_22"
]

[phases.install]
dependsOn = ["setup"]
cmds = ["composer install --optimize-autoloader --no-interaction --no-dev"]

[phases.build]
dependsOn = ["install"]
cmds = ["npm install && npm run build", "php artisan optimize"]