@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-amarillo: #FFC60A;
    --color-rojo: #CC0000;
    --color-negro: #CC0000;
    --color-gris: #A4B6B3;
    --primary: #3B82F6;
    --secondary: #10B981;
    --danger: #EF4444;
    --warning: #F59E0B;
    --info: #6B7280;    
}

